body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: rgb(6, 6, 49);
    width: 200px;
}

.content {
    background-color: white;
    width: 100%;
}

.intro-heading {
    text-align: center;
    margin-bottom: 30px;
}

.intro-disc {
    text-align: center;
    margin-bottom: 40px;
    color: #666;
}

.menu-item {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-item {
    margin-top: 70px;
}

.menu-item:hover {
    background-color: rgba(235, 235, 235, 0.74);
    ;
}

.menu-icon {
    height: 25px;
}

.menu-name {
    margin-left: 10px;
    color: black;

}

.active-menu {
    background-color: rgba(235, 235, 235, 0.74);
}

.bottom-navigation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(6, 6, 49);
    color: white;
    display: flex;
    justify-content: space-around;
}

.bottom-navigation-icon {
    background-color: white;
    margin: 5px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
}

.bottom-navigation-icon:hover {
    background-color: rgba(235, 235, 235, 0.74);

}

.bottom-active-menu {
    background-color: rgba(235, 235, 235, 0.74);
}


.top-heading {
    color: white;
    text-align: center;
    margin: 0 0 20px 0;
    width: 100%;
    padding: 15px;
    background-color: rgb(6, 6, 49);
}

.home-content {
    display: flex;
}

.card {
    margin: 50px 30px 30px 60px;
    height: 350px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px grey;
    display: inline-block;
}

.price {
    margin-left: 15px;
    font-size: 20px;
}

.m-img {
    margin-bottom: 5px;
    height: 180px;
    width: 300px;
    border-radius: 10px 10px 0 0;
}

.m-name {
    margin-left: 15px;
    font-size: 17px;
}

.disc {
    margin-left: 15px;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 8px;
    margin: 20px 110px;

}



@media screen and (max-width: 599px) {
    .sidebar {
        display: none;

    }

    .intro-heading {
        font-size: 25px;
    }

    .intro-disc {
        font-size: 18px;
        text-align: center;
        margin-bottom: 40px;
        color: #666;
    }

}



@media screen and (min-width: 600px) and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .intro-heading {
        font-size: 30px;
    }

    .intro-disc {
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
        color: #666;
    }

}




@media screen and (min-width: 769px) {

    .intro-heading {
        font-size: 40px;
    }

    .intro-disc {
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;
        color: #666;
    }

    .card {
        margin: 50px 30px 30px 60px;
        height: 450px;
        width: 300px;
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 1px 1px 20px 2px grey;
        display: inline-block;
    }

    .m-img {
        margin-bottom: 20px;
        height: 180px;
        width: 300px;
        border-radius: 10px 10px 0 0;
    }

    .price {
        margin-left: 15px;
        font-size: 30px;
    }

    .m-name {
        margin-left: 15px;
        font-size: 20px;
    }

    .disc {
        margin-left: 15px;
        font-size: 20px;
    }

    .btn {
        height: 50px;
        width: 100px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 8px;
        margin: 40px 100px;

    }

    .bottom-navigation-bar {
        display: none;
    }





}